.side-bar {
  width: 20rem;
  color: $secondary-white;
  margin: 2rem;
  height: calc(100vh - 4rem);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & > h4 > span {
    font-family: "Gilroy-Bold";
  }
  & > img {
    margin-bottom: 1rem;
    width: 100%;
  }
  &-button {
    margin: 1.5rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $secondary-white;
    & > svg {
      width: 5rem;
    }
    & > span {
      text-decoration: none;
      font-family: "Gilroy-Bold";
    }
  }
  & .button-active {
    color: $primary-color;
    & > svg path {
      fill: $primary-color;
    }
  }
  &-button:hover {
    color: $primary-color;
    text-decoration: none;
    & > svg path {
      fill: $primary-color;
    }
  }
  & .is-disabled {
    color: $secondary-gray;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    & > svg path {
      fill: $secondary-gray !important;
    }
    &:hover > svg path {
      fill: $secondary-gray !important;
    }
  }
}
