.title-card {
  & > h1 {
    color: $primary-color;
    font-family: "Gilroy-Bold";
    text-align: center;
  }
  & > hr {
    border-color: $primary-color;
  }
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
