.register-page {
  color: white;
  background-color: $secondary-black;
  & .button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  &-logo {
    height: 5rem;
  }
  &-card {
    z-index: 1;
  }
  & h2 {
    color: $primary-color;
  }
  & > span {
    color: $primary-color;
    text-transform: capitalize;
    @include font-size(10pt);
    margin-bottom: 2rem;
  }
  & > div > span {
    color: rgba($secondary-white, 0.6);
    margin: 1rem 0;
  }
}
