.register-page {
  color: white;
  background-color: $secondary-black;
  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & .button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  &-logo {
    height: 5rem;
  }
  &-card {
    z-index: 1;
  }
  & h2 {
    color: $primary-color;
  }
  & > span {
    color: $primary-color;
    text-transform: capitalize;
    font-size: 10pt;
    margin-bottom: 2rem;
  }
  & > div > span {
    color: rgba($secondary-white, 0.6);
    margin: 1rem 0;
  }
}

.register-end {
  min-height: 100vh;
  & .card-custom {
    max-width: 50%;
    z-index: 1050;
  }

  &-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    &-hackathon {
      height: 7rem;
    }
    &-technoscape {
      height: 3rem;
    }
  }
  & a {
    color: $primary-color;
  }
}

@include mobile {
  .register-end {
    & .card-custom {
      max-width: 100%;
    }
    &-logo {
      flex-direction: column;
    }
  }
}
