$primary-color: #fd8c14;
$secondary-gray-light: #1e1e1e;
$secondary-gray-light-altf: #1f1f1f;
$secondary-black: #121212;

.color {
  &-primary {
    color: $primary-color;
  }
  &-secondary {
    &-gray {
      color: $secondary-gray-light;
    }
    &-gray-altf {
      color: $secondary-gray-light-altf;
    }
    &-black {
      color: $secondary-black;
    }
    &-white {
      color: $secondary-white;
    }
  }
  &-bg {
    &-primary {
      background-color: $primary-color;
    }
    &-secondary {
      &-gray {
        background-color: $secondary-gray-light;
      }
      &-gray-altf {
        background-color: $secondary-gray-light-altf;
      }
      &-black {
        background-color: $secondary-black;
      }
      &-white {
        background-color: $secondary-white;
      }
    }
  }
}

.font {
  &-size {
    &-small {
      @include font-size($font-size-small);
    }
    &-med {
      @include font-size($font-size-med);
    }
    &-large {
      @include font-size($font-size-large);
    }
  }
}
