$primary-color : #FD8C14;
$secondary-gray-light : #1E1E1E;
$secondary-gray-light-altf: #1F1F1F;
$secondary-black : #121212;
$secondary-white : #E9E9E9;

$font-size-small : 10pt;
$font-size-med : 15pt;
$font-size-large : 25pt;